.textarea {
  background-color: #252729;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  width: 100%;
  padding: var(--geist-space-4x);
}

.textarea::placeholder {
  color: var(--secondary-color);
  opacity: 1;
}

.textarea:focus {
  background-color: #33373c;
}
