.label {
  display: flex;
  align-items: top;
}

.checkbox {
  margin-top: 8px;
  margin-right: var(--geist-gap-half);
}

.text {
  color: var(--secondary-color);
  transition: color 0.2s ease;
}

.label:hover .text {
  color: #fff;
}
