.input {
  background-color: #252729;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  height: 56px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  width: 100%;
}

.input::placeholder {
  color: var(--secondary-color);
  opacity: 1;
}

.input:focus {
  background-color: #33373c;
}
